<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
    <add name="nwind" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=|DataDirectory|\nwind.mdb;user id=;password=;" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
